.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}

/* Explore-page */

#explorePage div[data-role=content] {
	padding: 0;
}

#recommendationDetails {
	padding: 20px;
	margin-top: -50px;
}

#recommendationStar {
	float: right;
	display: block;
	width: 50px;
	height: 50px;
	background-image: url(images/bookmark.png);
}

#recommendationStar.selected {
	background-position: -50px;
}

#recommendationTitle {
	margin-top: 5px;
}


/* Coverflow content */

.coverFlow > h3{
	padding-top: 20px;
}

.coverFlow > p{
	clear: both;
	color: black;
	font-size:14px;
	font-weight:bold;
	margin:10px auto 0 auto;
	width:100%;
	z-index:10;
}

/* Coverflow plugin */

.coverFlow {
	background:transparent;
	padding:50px 0;
	text-align:center;
	overflow:hidden;
}

.coverFlow div.content.loading{
	opacity:0;
}

.coverFlow ul,.coverFlow li,.coverFlow p{
	position:relative;
}

.coverFlow > div {
	margin:0 auto;
}

.coverFlow > div,
.coverFlow > div > div{
	display:inline-block;
	margin:0 auto;
	white-space:nowrap;
}

.coverFlow > div > div{
	-webkit-transition: all 300ms ease-out;
}

.coverFlow > div > div > ul{
	display:block;
	float:left;
	list-style:none;
	padding:0;
}

.coverFlow > div > div > ul > li{
	display:block;
	height:150px;
	width:150px;
	-webkit-perspective: 500px;
}

.coverFlow > div > div > ul.active{
	z-index:5;
}

.coverFlow > div > div > ul.leftList > li{
	float:left;
	margin-right:-50px;
}

.coverFlow > div > div > ul.active > li:last-child{
	margin:0 40px;
	z-index:10;
}

.coverFlow > div > div > ul > li > div{
	-webkit-transition: all 100ms ease-in;
}

.coverFlow > div > div,
.coverFlow > div > div > ul.inactive > li:last-child > div,
.coverFlow > div > div > ul.active > li:last-child > div{
	
}

.coverFlow > div > div > ul.inactive > li:last-child > div,
.coverFlow > div > div > ul.active > li:last-child > div{
	-webkit-transition: all 300ms ease-out;
	-webkit-transform: rotateY(0deg) translateZ(150px) !important;
}

.coverFlow > div > div > ul.active > li:last-child > div > img{
	opacity:1;
}

.coverFlow > div > div > ul.rightList > li{
	float:right;
	margin-left:-50px;				
}

.coverFlow > div > div > ul > li > div{
	background-color:#fff;
	-webkit-box-shadow: 0px 0px 15px #aaa;
	/*reflection*/
	/*-webkit-box-reflect: below 1px
	-webkit-gradient( linear, left bottom, left top, color-stop(0.10, rgba(255,255,255,0.3)), color-stop(0.50, transparent));*/
}

.coverFlow > div > div > ul > li > div,
.coverFlow > div > div > ul > li > div > img{
	height:150px;
	width:150px;
}

.coverFlow > div > div > ul > li > div > img{
	opacity:0.5
}

.coverFlow > div > div > ul.leftList > li >div{
	-webkit-transform: rotateY(45deg);
}			

.coverFlow > div > div > ul.rightList > li > div{
	-webkit-transform: rotateY(-45deg);
}