/* Navbar */

div[data-role="navbar"] .ui-btn .ui-btn-inner { 
	padding-top: 50px !important;
}
div[data-role="navbar"] .ui-btn .ui-icon { 
	width: 40px!important; 
	height: 40px!important; 
	margin-left: -20px !important; 
	box-shadow: none!important; 
	-moz-box-shadow: none!important; 
	-webkit-box-shadow: none!important; 
	-webkit-border-radius: 0 !important; 
	border-radius: 0 !important;
}
div[data-role="navbar"] .ui-icon {
	background:  url(images/nav_icons_sprite.png) no-repeat;
} 
a[href="#myFoodPage"] .ui-icon {
	background-position: -40px;
}
a[href="#addDiscoveryPage"] .ui-icon {
	background-position: -80px;
}
a[href="#searchPage"] .ui-icon {
	background-position: -120px;
}

/* Review star */

.star {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image: url(images/stars_20.png);
}

.star.grey {
	background-position: -80px;
}

/* Explore-page */

#recommendationsLoading {
	margin-top: 100px;
	text-align: center;
}

#recommendationDetails {
	display:none;
	padding: 20px;
	margin-top: -50px;
}

#explorePage div[data-role=content] {
	padding: 0;
}

/* Details */

.bookmarkStar {
	float: right;
	display: block;
	width: 50px;
	height: 50px;
	background-image: url(images/bookmark.png);
	margin-bottom: 5px;
}

.bookmarkStar.selected {
	background-position: -50px;
}

.details .title {
	margin-top: 5px;
}

.details .description {
	font-weight: bolder;
	clear: both;
}

.details .rating {
	clear: both;
}

.details .rating > div > div {
	height: 40px;
	border: 1px solid #aaa;
	padding: 5px;
	text-align: center;
	font-size: 0.8em;
}

.details h5 {
	margin: 15px 0 10px;
}

.details .comments {
	clear: both;
	/*margin: 0 -20px;*/
	border-bottom: 1px solid #aaa;
}

.details .comments .comment {
	border-top: 1px solid #aaa;
	padding: 10px 0px;
}

.details .comments .comment span {
	font-size: 0.9em;
	color: gray;
	margin-left: 5px;
}

.details span.user {
	font-weight: bold;
}

.details .comment p {
	margin: 5px 0 0 0;
}

/* My Food -page */

#bookmarkedList {
	margin-bottom: 0;
}

#reviewedList {
	margin-top: 0;
}

/* Coverflow plugin */

.coverFlow {
	background:transparent;
	padding:50px 0;
	text-align:center;
	overflow:hidden;
}

.coverFlow > p{
	clear: both;
	color: black;
	font-size:14px;
	font-weight:bold;
	margin:10px auto 0 auto;
	width:100%;
	z-index:10;
}

.coverFlow div.content.loading{
	opacity:0;
}

.coverFlow ul,.coverFlow li,.coverFlow p{
	position:relative;
}

.coverFlow > div {
	margin:0 auto;
}

.coverFlow > div,
.coverFlow > div > div{
	display:inline-block;
	margin:0 auto;
	white-space:nowrap;
}

.coverFlow > div > div{
	-webkit-transition: all 300ms ease-out;
}

.coverFlow > div > div > ul{
	display:block;
	float:left;
	list-style:none;
	padding:0;
}

.coverFlow > div > div > ul > li{
	display:block;
	height:150px;
	width:150px;
	-webkit-perspective: 500px;
}

.coverFlow > div > div > ul.active{
	z-index:5;
}

.coverFlow > div > div > ul.leftList > li{
	float:left;
	margin-right:-50px;
}

.coverFlow > div > div > ul.active > li:last-child{
	margin:0 40px;
	z-index:10;
}

.coverFlow > div > div > ul > li > div{
	-webkit-transition: all 100ms ease-in;
}

.coverFlow > div > div,
.coverFlow > div > div > ul.inactive > li:last-child > div,
.coverFlow > div > div > ul.active > li:last-child > div{
	
}

.coverFlow > div > div > ul.inactive > li:last-child > div,
.coverFlow > div > div > ul.active > li:last-child > div{
	-webkit-transition: all 300ms ease-out;
	-webkit-transform: rotateY(0deg) translateZ(150px) !important;
}

.coverFlow > div > div > ul.active > li:last-child > div > img{
	opacity:1;
}

.coverFlow > div > div > ul.rightList > li{
	float:right;
	margin-left:-50px;				
}

.coverFlow > div > div > ul > li > div{
	background-color:#fff;
	-webkit-box-shadow: 0px 0px 15px #aaa;
	/*reflection*/
	/*-webkit-box-reflect: below 1px
	-webkit-gradient( linear, left bottom, left top, color-stop(0.10, rgba(255,255,255,0.3)), color-stop(0.50, transparent));*/
}

.coverFlow > div > div > ul > li > div,
.coverFlow > div > div > ul > li > div > img{
	height:150px;
	width:150px;
}

.coverFlow > div > div > ul > li > div > img{
	opacity:0.5
}

.coverFlow > div > div > ul.leftList > li >div{
	-webkit-transform: rotateY(45deg);
}			

.coverFlow > div > div > ul.rightList > li > div{
	-webkit-transform: rotateY(-45deg);
}